<app-header></app-header>
<div class="container-fluid">
    
    <div class="row mt-2">
        <div class="col-6" style="text-align:left;">
            <span><h5 style="color: cornflowerblue; margin-right: auto; margin-left: 2rem;">ADMIN</h5></span>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <!-- <a routerLink="/teacher/AddStudent" type="button" class="btn btn-primary btn-sm align-self-center">+ Add Reimbursement</a> -->
          <span><a (click)="LogOut()" class="btn btn-info" style="margin-top:5px; margin-left: auto; margin-right: 1.5rem;">LogOut</a></span>
        </div>
    </div>
    
    <hr style="color: cornflowerblue;">

    <div class="row mt-2">
        <div class="col-12" style="text-align:left; margin-left: auto; margin-right: auto;">

            <!-- <span><a routerLink="/admin/pending" style="color: cornflowerblue; margin-left: 2rem; border-radius: 5px;">Pending</a></span> -->

            <span><button routerLink="/admin/pending" type="button" class="btn btn-outline-info btn-sm border-radius: 5px;">Pending</button></span>
            <span><button routerLink="/admin/approvedClaims" type="button" class="btn btn-outline-info btn-sm border-radius: 5px;">Approved</button></span>
            <span><button routerLink="/admin/decline" type="button" class="btn btn-outline-info btn-sm border-radius: 5px;">Declined</button></span>

            <!-- <span><a routerLink="/admin/approved" style="color: cornflowerblue; margin-left: 2rem; border-radius: 5px;">Approved</a></span>
            <span><a routerLink="/admin/decline" style="color: cornflowerblue; margin-left: 2rem; border-radius: 5px;">Decline</a></span> -->
        </div>
    </div>
</div>
