<app-header></app-header>
<!-- <div>
    <span><h5 style="color: cornflowerblue; margin-right: auto;">My claims</h5></span>
    <span><a (click)="LogOut()" class="btn btn-info" style="margin-top:5px; margin-left: auto;">LogOut</a></span>
</div> -->

<div class="container-fluid">

    <div class="row mt-2">
        <div class="col-6" style="text-align:left;">
            <span><h5 style="color: cornflowerblue; margin-right: auto; margin-left: 2rem;">My Claims  {{email}}</h5></span>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <!-- <a routerLink="/teacher/AddStudent" type="button" class="btn btn-primary btn-sm align-self-center">+ Add Reimbursement</a> -->
          <span><a (click)="LogOut()" class="btn btn-info" style="margin-top:5px; margin-left: auto; margin-right: 1.5rem;">LogOut</a></span>
        </div>
    </div>

    <hr style="color: cornflowerblue;">

    <div class="row mt-2">
        <div class="col-12 d-flex justify-content-end">
          <!-- <a routerLink="/teacher/AddStudent" type="button" class="btn btn-primary btn-sm align-self-center" style="margin-right: 1.5rem;">+ Add Reimbursement</a> -->
          <button type="button" class="btn btn-outline-danger btn-sm align-self-center" data-bs-toggle="modal" data-bs-target="#exampleModal" data-backdrop="static" data-keyboard="false" (click)="addClick()"  style="margin-right: 1.5rem;">
            + Add Reimbursement
          </button>
        </div>

    </div>


    <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-backdrop="static" data-keyboard="false" (click)="addClick()">
    Launch demo modal
  </button> -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"  (click)="Close()"></button>

        </div>
        <div class="modal-body">
          <app-add-claim *ngIf="ActivateAddComponent"></app-add-claim>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
        <div class="col-12 col-6-sm">
          <div class="tableDiv" style="margin-left: auto;margin-right:auto">
            <table class="table table-striped" style="overflow-x: scroll;">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Reimbursement Type</th>
                  <th scope="col">Requested Value</th>
                  <th scope="col">Approved Value</th>
                  <th scope="col">Currency</th>
                  <th scope="col">Request Phase</th>
                  <th scope="col">Reciept</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of Claims">
                  <td>{{item.date}}</td>
                  <td>{{item.reimbursementType}}</td>
                  <td>{{item.requestedValue}}</td>
                  <td>{{item.approvedValue}}</td>
                  <td>{{item.currency}}</td>
                  <td>{{item.requestPhase}}</td>
                  <td>{{item.reciept}}</td>
                  <td>
                    <!-- <a [routerLink]="['/emp/EditClaim',item.id]" *ngIf="item.requestPhase == 'ToBeProcessed'"><img style="margin: 0px 5px;" src="https://img.icons8.com/material-outlined/30/000000/edit.png"/></a> -->
                    <button [routerLink]="['/emp/EditClaim',item.id]" *ngIf="item.requestPhase == 'ToBeProcessed'" type="button" class="btn btn-outline-secondary btn-sm">Edit</button>
                    <button (click)  = "DeleteClaim(item.id)" *ngIf="item.requestPhase == 'ToBeProcessed'" type="button" class="btn btn-outline-dark btn-sm">Delete</button>
                    <!-- <a (click)  = "DeleteClaim(item.id)" *ngIf="item.requestPhase == 'ToBeProcessed'" class="btn btn-info"><img style="margin: 0px 5px;" src="https://img.icons8.com/ios-glyphs/30/000000/filled-trash.png"/></a> -->
                  </td>
                </tr>
            </table>
          </div>
        </div>
      </div>
</div>

