<app-header></app-header>
<div class="container-fluid">
    
    <div class="row mt-2">
        <div class="col-6" style="text-align:left;">
            <span><h5 style="color: cornflowerblue; margin-right: auto; margin-left: 2rem;">ADMIN</h5></span>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <!-- <a routerLink="/teacher/AddStudent" type="button" class="btn btn-primary btn-sm align-self-center">+ Add Reimbursement</a> -->
          <span><a (click)="LogOut()" class="btn btn-info" style="margin-top:5px; margin-left: auto; margin-right: 1.5rem;">LogOut</a></span>
        </div>
    </div>
    
    <hr style="color: cornflowerblue;">

    <div class="row mt-2">
        <div class="col-12" style="text-align:left; margin-left: auto; margin-right: auto;">

            <!-- <span><a routerLink="/admin/pending" style="color: cornflowerblue; margin-left: 2rem; border-radius: 5px;">Pending</a></span> -->

            <span><button routerLink="/admin/pending" type="button" class="btn btn-outline-info btn-sm border-radius: 5px;">Pending</button></span>
            <span><button routerLink="/admin/approvedClaims" type="button" class="btn btn-outline-info btn-sm border-radius: 5px;">Approved</button></span>
            <span><button routerLink="/admin/decline" type="button" class="btn btn-outline-info btn-sm border-radius: 5px;">Declined</button></span>

            <!-- <span><a routerLink="/admin/approved" style="color: cornflowerblue; margin-left: 2rem; border-radius: 5px;">Approved</a></span>
            <span><a routerLink="/admin/decline" style="color: cornflowerblue; margin-left: 2rem; border-radius: 5px;">Decline</a></span> -->
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12 col-6-sm">
          <div class="tableDiv" style="margin-left: auto;margin-right:auto">
            <table class="table table-striped" style="overflow-x: scroll;">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Requested By</th>
                  <th scope="col">Reimbursement Type</th>       
                  <th scope="col">Requested Value</th>
                  <th scope="col">Currency</th>
                  <th scope="col">Reciept</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of Claims">
                  <td>{{item.date}}</td>
                  <td>{{item.employeeMail}}</td>
                  <td>{{item.reimbursementType}}</td>
                  <td>{{item.requestedValue}}</td>
                  <td>{{item.currency}}</td>
                  <td>{{item.reciept}}</td>
                  <td>
                    <!-- <button [routerLink]="['/emp/EditClaim',item.id]" *ngIf="item.requestPhase == 'ToBeProcessed'" type="button" class="btn btn-outline-secondary btn-sm">Edit</button>
                    <button (click)  = "DeleteClaim(item.id)" *ngIf="item.requestPhase == 'ToBeProcessed'" type="button" class="btn btn-outline-dark btn-sm">Delete</button> -->
                    <button type="button" class="btn btn-outline-success btn-sm align-self-center" data-bs-toggle="modal" data-bs-target="#exampleModal" data-backdrop="static" data-keyboard="false" (click)="addClick(item.id)">
                        Approve
                    </button>
                    <button type="button" class="btn btn-outline-danger btn-sm align-self-center" (click)="Decline(item.id)">
                        Decline
                    </button>
                  </td>
                </tr>
            </table>
          </div>
        </div>
      </div>

      <!-- Button trigger modal -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
          <button type="button" class="btn-close" (click)="Close()" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-approved [Id] = "empId" *ngIf="ActivateAddComponent"></app-approved>
        </div>
      </div>
    </div>
  </div>


</div>
